Q1. program to subract two complex numbers

In [ ]:
a=complex(5,6)
b=complex(2,3)
print("the subraction of the two complex is",a-b)

the subraction of the two complex is (3+3j)

Q2. program to find fourth root of a number

In [ ]:
a=16
b=a**(1/4)
print("the fourth root the number is",b)

the fourth root the number is 2.0

Q3.program to swap two numbers using temporary variable

In [ ]:
a=10
b=5
print("the variables a and b before swaping",a,b)
temp=a
a=b
b=temp
print("the variables a and b after swaping",a,b)

the variable a and b before swaping 10 5
the variables a and b after swaping 5 10

Q4.program to swap two numbers without using temporary variable

In [ ]:
a=15
b=20
print("the variables a and b before swaping",a,b)
a=a+b
b=a-b
a=a-b
print("the variables a and b after swaping",a,b)

the variables a and b before swaping 15 20
the variables a and b after swaping 20 15

Q5. program to convert fahrenheit to kelvin and celsius

In [ ]:
f=100
c = (f-32)*5/9
print("convertion of fahrenheit to celsius",c)
k= 273.5 + c 
print("convertion of fahrenheit to kelvin",k)

convertion of fahrenheit to celsius 37.77777777777778
convertion of fahrenheit to kelvin 311.27777777777777

Q6.program to demonstrate all the available data types in Python

In [2]:
a=10
b=5.16
c=complex(2,5)
d=(1,1.1,2)
e=[10.5,5,1,a]
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'tuple'>
<class 'list'>

Q7. create Github profile and upload Githubs Assignment link

1.   Sign up in the github using the email id
2.   After creating the github profile in top right corner click add and create new repository
3.   In the owner drop down select the account you wish to create repository on
4.   Type the name of the repository as LetsUpgrade AI-ML
5.   Now click on upload file and select the file to upload 
6.   Copy the link of the repository and paste it in the form and submit