**Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.**

In [1]:
email=input("Enter the email address:")
cp=email.split('@')[1]
compname=cp.split('.')[0]
print(compname)

Enter the email address:shatyahariharan@gmail.com
gmail

**Q2.Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically**

In [7]:
words=input("Enter the words: ")
words=words.split(',')
words.sort()
for i in words:
  print(i,end=',')

Enter the words: shatya,class,fun,boys,hacker,colab
boys,class,colab,fun,hacker,shatya,

**Q3.Sets**

In [15]:
set1={"nokia","samsung","moto","micromax"}
set1.add("iphone")
print(set1)

{'nokia', 'micromax', 'moto', 'samsung', 'iphone'}

In [11]:
print(len(set1))

5

In [16]:
set1.remove("micromax")
print(set1)

{'nokia', 'moto', 'samsung', 'iphone'}

In [17]:
set2={"dell","hp","mac"}
set3=set1.union(set2)
print(set3)

{'nokia', 'hp', 'iphone', 'mac', 'moto', 'dell', 'samsung'}

In [18]:
set3.clear()
print(set3)

set()

**Q4.Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.**

In [24]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1) if x not in lst] 
  
lst = [1, 2, 3, 5, 7, 9, 10] 
print("The missing numbers are",find_missing(lst))

The missing numbers are [4, 6, 8]

**Q5.With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.**

In [27]:
def remove(duplicate):
  org=[]
  for i in duplicate:
    if i not in org:
      org.append(i)
  return org
duplicate=[1,2,5,3,45,5,3]
print("The original list is",remove(duplicate))

The original list is [1, 2, 5, 3, 45]